.app { 
  font-family: 'Inter Tight', sans-serif;
  text-align: center;
  background-image: url("https://www.dropbox.com/s/2ct0i6kc61vp0bh/wall.jpg?raw=1");
  background-size: contain;
  background-repeat: repeat;
  background-color: #141414;
  
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr;
  grid-template-areas: 
    "sign"
    "movies";
}

.appBody{
  grid-area: movies;
  margin: 1rem;
}