.app { 
  font-family: 'Inter Tight', sans-serif;
  text-align: center;
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 2fr;
  grid-template-areas: 
    "sign"
    "movies";
}

.appBody{
  grid-area: movies;
  margin: 1rem;
}