.movies {
    display : flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
}

.moviePoster {
    width: 100%;
    height: 80%;
}

.movieTitle {
    color: whitesmoke;
}

.movieCard {
    width: 30%;
    height: 20%;
}