body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-image: url("https://www.dropbox.com/s/2ct0i6kc61vp0bh/wall.jpg?raw=1");
  background-size: contain;
  background-repeat: repeat;
  background-color: #141414;
}
